.title-card, 
.background,
.poster {
  height: 220px;
  width: 391px;
}



.title-card {
  position: relative;
}

.background {
  background-color: black;
  overflow: hidden;
  position: absolute;
}

iframe {
  bottom: 165px;
  position: relative;
  right: 80px;
  width: 550px;
  height: 550px;
  pointer-events: none;
  background-color: black;
}





